<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucsd.cse110.ucsandeliever">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rosemary"
        android:label="UC Student Delivery now Online"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginActivity" />
        <activity android:name=".signupActivity" />
        <activity android:name=".requestActivity" />
        <activity android:name=".orderStatus" />
        <activity android:name=".orderHistroyActivity" />
        <activity android:name=".drawerActivity" />
        <activity android:name=".homeActivity" />
        <activity android:name=".ucsandelievery" />
        <activity android:name=".ViewRequestDetailActivity" />
        <activity android:name=".bSetActivity" />
        <activity android:name=".PlaceBidActivity" />
        <activity android:name=".balanceActivity" />
        <activity android:name=".requestor_finishActivity" />
        <activity android:name=".requestor_contactActivity" />
        <activity android:name=".runner_finishActivity" />
        <activity android:name=".runner_contactActivity" />
        <activity android:name=".WelcomScreen" />

        <activity android:name=".userRunnerWaitingActivity"
            android:theme="@style/AppTheme.CustomTheme"

            />


        <activity
            android:name=".UserList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Chat"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".confirmPickingBidActivity" />
        <activity android:name=".LeaveCommentActivity"></activity>
    </application>

</manifest>